[submodule "src/uno"]
	path = inst/uno
	url = https://github.com/bnaras/Uno_source.git
	branch = r-pkg-2.7.4
[submodule "src/HiGHS"]
	path = inst/HiGHS
	url = https://github.com/bnaras/HiGHS.git
	branch = r-pkg
